@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[rgb(0,0,0)];
  }
  body {
    @apply overflow-hidden;
  }
}

.fixedheader {
  position: sticky;
  top: 0px;
}
.login {
  background: linear-gradient(
    180deg,
    rgba(42, 42, 42, 1) 30%,
    rgba(8, 8, 8, 1) 80%
  );
}
.login-section {
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 1) 50%,
    rgba(37, 37, 37, 1) 100%
  );
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  cursor: default !important;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.range-box:hover .range::-webkit-slider-thumb {
  opacity: 1;
}
